


<body>
  <div class="about-section"  >
    <hr>
    <h1 >ABOUT US</h1>
    <hr>
    <p>We at Lavista Bakery strive for our customers.
  We bring you the fresh taste of goodness, richness and authenticity.</p>
  
  <p>We have a very vast variety of rich delicious pastries, sponge cakes,hammer cakes, fusion cakes and much more.
  
  We have about 10 stores across Mumbai & Thane.</p>
  
  <p>We assure 100 % quality to our customers, and we always provide good, fresh and preservative free products.</p>
  
  <p>Lavista Bakery is one of the fastest growing bakery ventures across Mumbai and we aim to proceed towards all over Maharashtra and ultimately India.</p>
  
  <p>We hope we have brought a smile on your face.</p>
  
  <p>Do visit our nearest branch Now and also get a discount on bulk orders.
  
  Note- Bulk orders to be placed a day before.</p>
  </div>
  <div class="container" >
  <hr>
  <h1 style="color:rgb(94,0,0); text-align:center ">Our Vision</h1>
  <hr>
  <p>To be a world class organization committed to delight our nation wide customers by creating happy memorable moments in their lives through our line of products.</p>
  <hr>
  <h1 style="color:rgb(94,0,0); text-align:center ">Our Mission</h1>
  <hr>
  <p>Provide professional and courteous service to our customers with highest standard of freshness, quality and product value.</p> 
  <p>Constantly focus and evolve through innovation and cutting edge technology for superior product line. </p>
  <p>Establish beneficial relationship with our customers, supplier and franchised operations. </p>
  <p>Provide an exceptional and memorable experience for our customers through our graciousness, professionalism, integrity, service and products. 
  Contribute to the society through our profits.</p>
  
  <hr>
  <h1 style="color:rgb(94,0,0); text-align:center ">OUR OWNERS</h1>
  <hr>
  <div class="row">
    <div class="column">
      <div class="card">
       
        <div class="container">
          <h2>SAMIKSHA GUPTA</h2>
          <p class="title">OWNER</p>
          
          <p>sam@gmail.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>VISHVESH PANDEY</h2>
          <p class="title">CO-OWNER</p>
          
          <p>vish@gmail.com</p>

        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
       
        <div class="container">
          <h2>ANZAL SHAIKH</h2>
          <p class="title">CO-OWNER</p>
         
          <p>anz@gmail.com</p>
         
        </div>
      </div>
    </div>

    <hr>
  <h1 style="color:rgb(94,0,0); text-align:center ">OUR BRANCHES</h1>
  <hr>
  <div class="container">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1MteVZKWLBzET67H9sjHtH05jgmSE8jKS" width="900" height="450"></iframe>
    </div>
 
  </div>
  </div>
  
    <router-outlet></router-outlet>
  </body>
